asgiref==3.3.1
cffi==1.15.0
cryptography==35.0.0
Django==3.1.5
django-cors-headers==3.7.0
django-positions==0.6.0
django-rest-knox==4.1.0
djangorestframework==3.12.2
psycopg2==2.8.6
pycparser==2.21
pytz==2020.5
PyYAML==5.4.1
sqlparse==0.4.1
uritemplate==3.0.1
